<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :input_html => {size: '40'}%>
    <%= f.input :address, :input_html => {size: '46x2'} %>
    <%= f.input :email, :input_html => {size: '40'}%>
    <%= f.input :pay_type, :collection => ['check', 'credit card', 'purchase order'], :prompt => "Select payment type" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

