<!DOCTYPE html>
%html
    %head
        %title Pragprog Books Online Store
        = stylesheet_link_tag "scaffold"
        = stylesheet_link_tag "depot"
        = javascript_include_tag "application"
        = csrf_meta_tag

    %body#store
        #wrapper


            #banner
                = image_tag("logo.png")
                = render 'store/search_form'
            #top-bar
                %a{ :href => "http://www...." } HOME |
                %a{ :href => "http://www..../faq" } QUESTIONS
                %a{ :href => "http://www..../news" } NEW
                %a{ :href => "http://www..../contact" } CONTACT

            #columns
                #side

                    #cart
                        = if !@cart.nil?
                            = if @cart.line_items.count != 0
                                = render(@cart)
                    %br
                #main
                    = yield

